<div style="text-align:center">
<h1>Bienvenido a {{title}}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-center">
        <div class="card-header">
          <h3>
            I N F O R M A C I Ó N
          </h3>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h3>Nombre del Cliente</h3>
              <p><input [(ngModel)]='nombre' type="text" name="nombre" 
                placeholder="Ingrese su nombre"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <h3>Edad del cliente</h3>
              <p><input [(ngModel)]='edad' type="number" name="edad" 
                placeholder="Ingrese su edad"></p>
            </div>
            <div class="col-sm-4">
              <h3>Ocupación</h3>
              <p><input [(ngModel)]='ocupacion' type="text" name="ocupación"
                placeholder="Ingrese su ocupacion"></p>
            </div>
            <div class="col-sm-4">
              <h3>Miembros de su familia</h3>
              <p><input [(ngModel)]='cantidad' type="number" name="cantidad"
                placeholder="Ingrese la cantidad"></p>
            </div>
            <div class="row">
              <div class="col-sm-4">

              </div>
              <div class="col-sm-4">
                    <p><button (click)='calcular_descuento()'>Calcular</button></p>
              </div>
              <div class="col-sm-4">

              </div>
            </div>

          </div>
        </div>
        <div class="card-header">
            <h3>R E S U L T A D O</h3>
            <h3>CLIENTE: {{nombre}}</h3>
            <div class="row">
              <div class="col-sm-6">
                <h4>TIPO</h4>
                <h5>{{descuento}}</h5>
              </div>
              <div class="col-sm-6">
                <h4>VALOR A PAGAR</h4>
                <h5>${{pago}}</h5>
              </div>
            </div>
          </div>
      </div>
      
    </div>
  </div>
</div>
</div>
